/* Code from GreatStack: https://www.youtube.com/watch?v=G0jO8kUrg-I */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-top: 70px;
    padding-bottom: 40px;
    border-radius:10px;
}

/* mobile
.todo-app {
    padding-left: 10px;
    padding-right: 10px;
} */

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.todo-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.add-button {
    border: none;
    outline: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 17px;
    padding-left: 12px;
    padding-right: 15px;
    user-select: none;
    cursor: pointer;
}

ul li::before {
    display: flex;
    justify-content: space-between;
    content: '';
    width: 25px;
    height: 25px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    display: flex;
    font-size: 25px;
    color: #555;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: #edeef0;
}

.edit-created-todo {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: right;
    margin-left: 10px;
    /* margin-left: auto; */
}

.delete-todo-cross {
    display: flex;
    justify-content: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-bottom: 5px;
    margin-left: auto;
}

/* Computer screens and larger */
    /* Add your computer-specific styles here */
@media screen and (min-width: 1024px) {
    .todo-app {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Tablets and larger screens */
    /* Add your tablet-specific styles here */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .todo-app {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Mobile screens */
@media screen and (max-width: 767px) {
    /* Add your mobile-specific styles here */

    .todo-app {
        padding-left: 10px;
        padding-right: 10px;
    }
}