/* *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
} */

/* #todo-1 {
    width: 100px;
    height:20px;
} */

#todo-1-container, #todo-2-container, #todo-3-container {
    display: flex;
    flex-direction: row;
}

#first, #second, #third {
    margin-right: 10px;
}

.checkbox {
    padding: 20px;
}